
body
{
	background-image: linear-gradient(to right, #a8edea 0%, #fed6e3 100%);
}

#user_ideas
{
	box-shadow: 0 10px 40px -10px rgba(0,64,128,.2);
	border-radius: 1.6em;
	background-image: linear-gradient(-225deg, #7DE2FC 0%, #B9B6E5 100%);
	padding: 1em;
	margin: 1em;
}

.container
{
	
}

.title
{
	background: linear-gradient(-225deg, #231557 0%, #44107A 29%, #FF1361 67%, #FFF800 100%);
	-webkit-background-clip: text;
	color: transparent;
	text-shadow: 3px 5px 24px #44107A;
	text-align: center;
}

.music_box
{
	box-shadow: 1em 10px 40px -10px rgba(0,64,128,.2);
	border-radius: 1.6em;
	background-image: linear-gradient(to top, #bdc2e8 0%, #7de6a4 1%, #cbe9c5 100%);
	padding: 0.1em 1em;
	margin: 0.7em;
	font-size: 0.8em;
}

.music_box h2
{
	box-shadow: 0.5em 10px 40px -10px rgba(0,64,128,.15);
	border-radius: 1.6em;
	background-image: linear-gradient(to top, #03a509 0%, #b6ecf0 1%, #d1ece9 100%);
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	text-align: center;
}

.music_box h2::before
{
	content: "🎵 ";
}

.music_box h2::after
{
	content: " 🎵";
}

nav 
{
	  flex-shrink: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

nav a 
{
  box-shadow: 0 1em 3em -0.5em rgba(0,64,128,.3);
  flex: auto;
  border: 1px solid transparent;
  border-radius: 1em;
  text-decoration: none;
  color: #281429;
  background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
  margin: 0.4em;
  padding-left: 0.8em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  transition: 0.3s ease-in-out;
}

nav a:hover 
{
	box-shadow: 0 1em 3em -0.5em rgba(0,64,128,.9);
  background-image: linear-gradient(-225deg, #FFE6FA 1%, #E3FDF5 70%, #FFE6FA 99%);
  border: 1px solid #231557;
}

.background_music
{
	/* display: none; */
}

.idea_box
{
	margin-top: 2em;
	padding-left: 0.3em;
	padding-right: 0.7em;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	flex-direction: column;
}

.idea_box button
{
	display: flex;
	flex-wrap: nowrap;
	margin-bottom: 0.5em;
	padding-left: 1em;
	padding-right: 2em;
	padding-top: 0.3em;
	padding-bottom: 0.3em;
	border: 1px solid #44107A;
	border-radius: 1em;
	text-decoration: none;
	color: #281429;
	background: transparent;
	cursor: pointer;
	transition: 0.2s all ease-out;
}

.idea_box button:hover
{
	opacity: 0.8;
	padding-right: 1em;
}

.idea_box button:focus
{
	padding-right: 1em;
}

.idea_box button::before
{
	content: '💡';
	margin-right: 0.3em;
}

.idea_box button::after
{
	content: '👉';
	margin-left: auto;
	
}

.idea_button
{
	display: flex;
	flex-wrap: nowrap;
	margin-bottom: 0.5em;
	padding-left: 1em;
	padding-right: 0.7em;
	padding-top: 0.3em;
	padding-bottom: 0.3em;
	border: 1px solid #44107A;
	border-radius: 1em;
	text-decoration: none;
	color: #281429;
	background: transparent;
	cursor: pointer;
	transition: 0.2s all ease-out;
}

.idea_button:hover
{
	opacity: 0.8;
}

.idea_button::before
{
	content: '💡';
	margin-right: 0.3em;
}

.idea_button::after
{
	content: '👉';
	margin-left: auto;
	
}

#idea_content
{
	box-shadow: 1em 10px 40px -10px rgba(0,64,128,.2);
	border-radius: 1.6em;
	background-image: linear-gradient(to top, #bdc2e8 0%, #bdc2e8 1%, #e6dee9 100%);
	padding: 1em;
	margin: 0.7em;
	transition: 0.3s all ease-in-out;
}

.tip_box
{
	box-shadow: 1em 10px 40px -10px rgba(0,64,128,.2);
	border-radius: 1.6em;
	background-image: linear-gradient(to top, #bdc2e8 0%, #bdc2e8 1%, #e6dee9 100%);
	padding: 1em;
	margin: 0.7em;
}

.saying_box
{
	box-shadow: 1em 10px 40px -10px rgba(0,64,128,.2);
	border-radius: 1.6em;
	background-image: linear-gradient(to top, #bdc2e8 0%, #e8e3d5 1%, #e9d9cd 100%);
	padding: 0.1em 1em;
	margin: 0.7em;
}

.saying_box h2
{
	box-shadow: 0.5em 10px 40px -10px rgba(0,64,128,.15);
	border-radius: 1.6em;
	background-image: linear-gradient(to top, #bd32e8 0%, #e8c783 1%, #f8ebb3 100%);
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	text-align: center;
}

.saying_box p
{
	font-size: 1.25em;
	font-family: STZhongsong;
	font-weight: 100;
	text-align: center;
}

.saying_box p::before
{
	content: '📖 ';
}