#app
{
    /* border: solid 2px red; */
    display: inline-flex;
} 
/* 翻书开关 */
#open, #close, #exec_open, #exec_close
{
    width:200px;
}
/* 中央布局 */
#center
{
    /* border: solid 2px rgb(29, 190, 42); */
    display: flex;
    flex-direction: column;
    width: 500px;
}
#center h1
{
    /* border: solid 2px red; */
}
#center ol
{
    /* border: solid 2px red; */
}
#center ol
{
    /* width: 200px; */
}

/* 右侧布局 */
#right h1
{
    text-align: center;
}
#right h2
{
    text-align: center;
}

 /* 右侧练习题部分 */
/* 每两个格子之间的间隔 */
li
{
    margin-top: 10px;
    /* border: solid 2px red; */
    /* margin-top: 50px; */
}
#practice li .question_title
{
    font-size: 25px;
    /* 选择题大行距 */
    margin-top: 25px;
}
#practice li .selection
{
    /* 答案和题目的距离 */
    margin-top: 15px;
}
/* 选择按钮样式 */
#practice li .selection input
{
    font-size: 25px;
    width: 25px;
    transform: scale(1.5);
}

/* 提交 */
#submit_box
{
    border: solid 2px red;
    display: flex;
    justify-content: center;
    /* margin-left: 25px; */
}
#submit_box #submit
{
    font-size:25px;
}